/*
 * Variables
 */
/*
 *  Global
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: none; }

body {
  background: #404252; }

/*
 *  Calculator
 */
#calculator-app {
  margin: 5rem auto;
  padding: 0.3rem;
  width: 320px;
  border: 2px solid #242424;
  background: #303033; }

#display-outer {
  margin: auto;
  width: 98%;
  height: 3rem;
  line-height: 3rem;
  border: 1px solid #000;
  background: #414149;
  color: #242424;
  vertical-align: center;
  overflow: hidden; }

#display-inner {
  overflow: hidden;
  margin: 0 1rem; }

#display {
  float: right;
  text-align: right;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 2.4rem; }

#keypad {
  padding: 0.4rem 0.2rem;
  display: grid;
  grid-gap: 0.1rem;
  grid-template-rows: 4;
  grid-template-columns: 5;
  grid-template-areas: 'clear clear divide multiply' 'seven eight nine subtract' 'four five six add' 'one two three equals' 'zero zero decimal equals'; }

.keypad-btn {
  min-height: 70px;
  min-width: 70px;
  color: #ddd;
  font-family: 'Lato', monospace;
  font-size: 2rem;
  border: 2px #334037 solid; }
  .keypad-btn:hover {
    transition: all 0.1s ease-in-out;
    color: black; }

.number-btn {
  background: #3f6d4d; }

.operation-btn {
  background: #3c5644; }

#equals {
  background: #3c5644; }

#clear {
  background: #ba3a25; }

/*
 *  Keypad buttons
 */
#clear {
  grid-area: clear; }

#equals {
  grid-area: equals; }

#add {
  grid-area: add; }

#subtract {
  grid-area: subtract; }

#divide {
  grid-area: divide; }

#multiply {
  grid-area: multiply; }

#zero {
  grid-area: zero; }

#one {
  grid-area: one; }

#two {
  grid-area: two; }

#three {
  grid-area: three; }

#four {
  grid-area: four; }

#five {
  grid-area: five; }

#six {
  grid-area: six; }

#seven {
  grid-area: seven; }

#eight {
  grid-area: eight; }

#nine {
  grid-area: nine; }
