/*
 * Variables
 */
$keypad-btn-color: #ddd;
$keypad-btn-border-color: #333;
$keypad-btn-border-width: 2px;
$number-btn-bgcolor: #444;
$operation-btn-bgcolor: #666;
$equals-btn-bgcolor: #f00;
$clear-btn-bgcolor: #00f;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: none;
}

body {
  background: darkslategrey;
  background: #2e4f4f;
}

#calculator-app {
  margin: 5rem auto;
  padding: 0.2rem;

  width: 320px;

  border: 2px groove black;
}

#display {
  margin: auto;
  padding-right: 0.7rem;

  width: 98%;
  height: 2.5rem;
  line-height: 2.5rem;

  border: 1px solid #000;

  text-align: right;
  vertical-align: center;

  font-family: 'Digital', monospace;
  font-size: 2rem;
}

#keypad {
  padding: 0.2rem;

  display: grid;
  grid-gap: 0.1rem;
  grid-template-rows: 4;
  grid-template-columns: 5;
  grid-template-areas:
    'clear clear divide multiply'
    'seven eight nine subtract'
    'four five six add'
    'one two three equals'
    'zero zero decimal equals';
}

.keypad-btn {
  min-height: 70px;
  min-width: 70px;

  color: $keypad-btn-color;

  font-family: 'Lato', monospace;
  font-size: 2rem;

  border: $keypad-btn-border-width $keypad-btn-border-color solid;
}

.number-btn {
  background: $number-btn-bgcolor;
}

.operation-btn {
  background: $operation-btn-bgcolor;
}

#equals {
  background: $equals-btn-bgcolor;
}

#clear {
  background: $clear-btn-bgcolor;
}

/*
 *  Keypad buttons
 */
#clear {
  grid-area: clear;
}

#equals {
  grid-area: equals;
}

#add {
  grid-area: add;
}

#subtract {
  grid-area: subtract;
}

#divide {
  grid-area: divide;
}

#multiply {
  grid-area: multiply;
}

#zero {
  grid-area: zero;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}
